services:
  - type: web
    name: evolution-api
    env: node
    plan: starter
    region: oregon
    buildCommand: npm ci && npx prisma generate --schema ./prisma/postgresql-schema.prisma && npm run build
    startCommand: node ./init.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 8080
      - key: SERVER_PORT
        value: 8080
      - key: DATABASE_PROVIDER
        value: postgresql
      - key: DATABASE_CONNECTION_URI
        sync: false
      - key: CACHE_REDIS_ENABLED
        value: false
      - key: CACHE_LOCAL_ENABLED
        value: true
      - key: LOG_LEVEL
        value: "ERROR,WARN,DEBUG,INFO,LOG,VERBOSE"
      - key: AUTHENTICATION_API_KEY
        sync: false
    numInstances: 1
    staticPublishPath: ./public
    autoDeploy: true
    healthCheckPath: /info
    healthCheckInterval: 30
